<!-- There is no picture Editing yet-->



<form method = "POST" action = "page?revisions=t&ky={{pk}}&ed=1">
{% csrf_token %}
<input type = "hidden" name = "pk" value = {{pk}}><br>

{% for pic in pics %}
    {% autoescape off %}
    <a href = "{{pic}}" ><img style = "height: 200px" src = '{{pic}}' > </a>
    {% endautoescape %}
{% endfor  %}
<br/>
Broker Name: <input type = text name = "broker_name" value = {{broker_name}}><br>


Property Name: <input type = text name = "property_name" value = {{property_name}}><br>

{% autoescape off %}
{{radio_array}}
{% endautoescape %}

Description: <textarea name = "description" value = {{description}}>{{description}}</textarea><br>
Phone Number: <input type = text name = "phone_number" value = {{phone_number}}><br>



{% autoescape off  %}
{{status}}
{% endautoescape %}

<input type = "submit" value = "Make Changes">
</form>
<form method = "GET" action = "/submit">
<input type = "submit" value = "Cancel">
</form>

