<!-- There is no picture Editing yet-->



<form method = "POST" action = "page?revisions=t&ky={{pk}}&ed=1">
{% csrf_token %}
<input type = "hidden" name = "pk" value = {{pk}}><br>

{% for pic in pics %}
    {% autoescape off %}
    <img style = "height: 200px" src = '/media/{{pic}}' > 
    {% endautoescape %}
{% endfor  %}
<br/>
Broker Name: <input type = text name = "broker_name" value = {{broker_name}}><br>
Property Name: <input type = text name = "property_name" value = {{property_name}}><br>
{{radio_form}}

Description: <textarea name = "description" value = {{description}}>{{description}}</textarea><br>
Phone Number: <input type = text name = "phone_number" value = {{phone_number}}><br>



<input type = "hidden" name = "radio_array" value = "NOPE">
{% autoescape off  %}
{{status}}
{% endautoescape %}

<input type = "submit" value = "Make Changes">
</form>
<form method = "GET" action = "/submit">
<input type = "submit" value = "Cancel">
</form>

