<!DOCTYPE html>
<div style = "height: 300px; width: 60%;overflow: scroll">   

{% autoescape off  %}
{{post_list}}
{% endautoescape  %}

</div>
{{ status }}
<form enctype = "multipart/form-data" action = "" method = "POST">
{% csrf_token %}

    <h2>Property Name</h2> <input name = "prop_name" type = "text">

    <h2>Posted By</h2><input name = "broker_name" type = "text">
    <br>
    {% autoescape off  %}
    {{radio_form}}
    {% endautoescape  %}
    <h2>Description</h2><br/>
                                 <textarea name = "description" rows = "15" cols = "50"></textarea><br/>

                             <br/>
    Phone Number:  <input type = "text" name= "phone_number"><br/>
    Image 1 {{image_form}}<br/><br/>
    Image 2 {{image_form2}}<br/><br/>
    Image 3 {{image_form3}}<br/><br/>
    <input type = "submit" value = "Post site">
    
</form>



{% autoescape off %}
{{submit_form}}
{% endautoescape %}

<a href = "/accounts/logout">logout</a>

